<head>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
    <script type="text/javascript">


    $(document).ready(function () {
        $('.corpse-display-all').click(function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("DisplayAllView", "ApplicationUser",  "All")', //All corpses
                success: function (result) {
                    $('#corpse-all-view').html(result);

                }
            });
        });

         $('.corpse-display-turn').click(function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("DisplayAllView", "ApplicationUser", "Turn")', //Waiting for you
                success: function (result) {
                    $('#corpse-turn-view').html(result);

                }
            });
        });

         $('.corpse-display-awaiting').click(function () {
             $.ajax({
                 type: 'GET',
                 url: '@Url.Action("DisplayAllView", "ApplicationUser")', //Waiting for accepteance 
                 data: { viewOption : "Awaiting" },
                success: function (result) {
                    $('#corpse-awaiting-view').html(result);

                }
            });
        });

        
         $('.corpse-display-waiting').click(function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("DisplayAllView", "ApplicationUser", "Waiting")', //Waiting for someone else
                success: function (result) {
                    $('#corpse-waiting-view').html(result);

                }
            });
        });

        
         $('.corpse-display-complete').click(function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("DisplayAllView", "ApplicationUser", "Complete")', //Completed
                success: function (result) {
                    $('#corpse-complete-view').html(result);

                }
            });
        });

    });


    </script>
</head>
<body>


    <h3 class="corpse-display-all">All Your Corpses</h3>
    <div id="corpse-all-view"></div>

    <h3 class="corpse-display-awaiting">Corpses Awaitng Friend Acceptance</h3>
    <div id="corpse-awaiting-view"></div>

    <h3 class="corpse-duisplay-waiting">Corpses Waiting For a Player's Turn</h3>
    <div id="corpse-waiting-view"></div>

    <h3 class="corpse-display-turn">It's Your Turn</h3>
    <div id="corpse-turn-view"></div>

    <h3 class="corpse-diaplay-complete">Completed Corpses</h3>
    <div id="corpse-complete-view"></div>

    <div>
        @Html.ActionLink("Create New Corpse", "CreateAsync", "Corpse")
    </div>


</body>
