<head>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
    <script type="text/javascript">


    $(document).ready(function () {
        $('.corpse-display-all').click(function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("DisplayAllView", "Corpse", "All")', //All corpses
                success: function (result) {
                    $('#corpse-all-view').html(result);

                }
            });
        });

         $('.corpse-display-turn').click(function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("DisplayAllView", "Corpse", "Turn")', //Waiting for you
                success: function (result) {
                    $('#corpse-turn-view').html(result);

                }
            });
        });

         $('.corpse-display-awaiting').click(function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("DisplayAllView", "Corpse", "Awaiting")', //Waiting for accepteance 
                success: function (result) {
                    $('#corpse-awaiting-view').html(result);

                }
            });
        });

        
         $('.corpse-display-waiting').click(function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("DisplayAllView", "Corpse", "Waiting")', //Waiting for someone else
                success: function (result) {
                    $('#corpse-waiting-view').html(result);

                }
            });
        });

        
         $('.corpse-display-complete').click(function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("DisplayAllView", "Corpse", "Complete")', //Completed
                success: function (result) {
                    $('#corpse-complete-view').html(result);

                }
            });
        });

    });


    </script>
</head>
<body>


    <h1 class="corpse-display-all">All Your Corpses</h1>
    <div id="corpse-all-view"></div>

    <h1 class="corpse-awaiting-all">All Your Corpses</h1>
    <div id="corpse-awaiting-view"></div>

    <h1 class="corpse-waiting-all">All Your Corpses</h1>
    <div id="corpse-waiting-view"></div>

    <h1 class="corpse-display-turn">It's Your Turn</h1>
    <div id="corpse-turn-view"></div>

    <h1 class="corpse-complete">Completed Corpses</h1>
    <div id="corpse-complete-view"></div>



</body>
</html>