@*@model ExquisiteCorpse1.ViewModels.CorpseCreateViewModel*@
@model ExquisiteCorpse1.Models.Corpse
@using ExquisiteCorpse1.Models

<h3> Add Role To User @ViewBag.thisUser.ProfileName</h3>
<form asp-controller="Corpse" asp-action="Create">
    <input value=@ViewBag.thisUser.Id type="hidden" name="userId"/>
    <input name="Title" type="text" />
   @for(int i = 0; i < @ViewBag.thisUser.Friends.Count(); i++)
   {
        <input value="@ViewBag.thisUser.Friends[i]" type="checkbox" />
        <input value="@ViewBag.thisUser.Friends[i].Id" type="hidden" />
        <input value="@ViewBag.thisUser.Friends[i].UserName" type="hidden" />
        <label value="@ViewBag.thisUser.Friends[i].ProfileName">@ViewBag.thisUser.Friends[i].ProfileName</label>
   }
    <input name="Rounds" type="number" /> 
    <input type="submit" value="Add Role" />
</form>

@*this is all wrong*@

